defaults
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile /var/log/msmtp.log

account default
host smtp.gmail.com
port 587
from login@gmail.com
user login@gmail.com
password pass #Требуется 2FA и 16-ый код из паролей приложений
