[Unit]
Description=Alertmanager
After=network.target

[Service]
User=alertmanager
ExecStart=/usr/local/bin/alertmanager \
  --config.file=/opt/alertmanager-0.27.0.linux-amd64/alertmanager.yml \
  --storage.path=/opt/alertmanager-0.27.0.linux-amd64/data

[Install]
WantedBy=multi-user.target
